body {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'sans-serif';
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* Sections */

.colored-section {
  background-color: #254E70;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title section */

#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}

/* Title Image */


.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 14%;
}

.title-image-div {
  position: relative;
}



/* Features Section */

#features {
  padding: 5% 10%;
  position: relative;
}

/* By using stacking order, no need to use z-index */

/* Container fluid padding is weird */

.feature-box {
  padding: 1% 5%;
}

.feature-title {
  font-weight: 900;
  font-size: 1.5rem
}
.icon-dec {
  font-size: 3rem;
  color: #7C9EB2;
  margin-bottom: 1rem;
}

.icon-dec:hover {
  color: #254E70;
}

/* Testimonial Section */

#testimonials {
  background-color: #7C9EB2;
}

.testimonial-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #7C9EB2;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
padding: 100px;
}

.price-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Call to action */

/* Footer */

#footer {
  padding: 3% 15%;
}

.sns-icon {
  margin: 20px 10px;
}
